.account-response {
  margin: 134px 16px 30px 0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: calc(100% - 164px);
}

@media screen and (max-width: 767px) {
  .account-response {
    margin: 0;
    padding: 24px 16px;
    box-shadow: none;
  }
}

.account-response__title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--dark-80);
}

.account-response__switch {
  max-width: 300px;
}

.account-response__submit-button {
  margin: auto 0 0 0;
  max-width: 198px;
}

@media screen and (max-width: 575px) {
  .account-response__submit-button {
    max-width: none;
  }
}

.account-response__feedback {
  margin: 0 0 40px 0;
}

.account-response__quick-answers {
  margin: 0 0 40px 0;
}