.sidebar-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  width: 277px;
  max-height: 440px;
  padding: 16px 0;
  background-color: var(--very-light-pink);
  box-shadow: 0 16px 16px -4px rgba(20, 16, 41, 0.06), 0 4px 8px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
  overflow-y: auto;
}
.sidebar-submenu__item {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-60);
  transition: color .2s, background-color .2s;
  cursor: pointer;
}
.sidebar-submenu__link {
  display: inherit;
  align-items: inherit;
  height: inherit;
  color: inherit;
  text-decoration: none;
}
.sidebar-submenu__item:not(.sidebar-submenu__item--non-hover):hover {
  background-color: var(--coral);
  color: var(--white);
}
.sidebar-submenu__item:not(.sidebar-submenu__item--non-hover):hover .sidebar-submenu__count {
  color: var(--white);
}
.sidebar-submenu__item--red {
  color: var(--coral);
}
.sidebar-submenu__left-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.sidebar-submenu__icon {
  margin-right: 8px;
}
.sidebar-submenu__item path[fill] {
  transition: fill .2s;
}
.sidebar-submenu__item:not(.sidebar-submenu__item--non-hover):hover path[fill] {
  fill: var(--white)
}
.sidebar-submenu__hot-icon {
  margin-left: 9px;
}
.sidebar-submenu__count {
  margin-left: 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-60);
  transition: color .2s;
}
.sidebar-submenu__message-box {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.sidebar-submenu__item--non-hover {
  margin-bottom: 8px;
}
.sidebar-submenu__item .input {
  width: 100%;
  height: 38px;
}
.sidebar-submenu__item .input__field {
  font-size: 12px;
}
.sidebar-submenu__item .input__search-icon {
  width: 16px;
}
.sidebar-submenu__item .input__search-icon [fill-opacity] {
  fill: var(--dark-60) !important;
}
.sidebar-submenu__item .input__field:focus + .input__search-icon [fill-opacity] {
  fill: var(--coral) !important;
}
