.rating-widget__item {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  color: var(--midnight-purple-80);
  margin: 0 0 16px;
}

.rating-widget__place {
  width: 24px;
  flex-shrink: 0;
}

.rating-widget__avatar {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 2px;
  margin: 0 8px 0 0;
  flex-shrink: 0;
}

.rating-widget__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  flex-grow: 1;
}

.rating-widget__progress {
  width: 60%;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
  z-index: 0;
  padding: 0 0 0 16px;
  flex-shrink: 0;
}

.rating-widget__progress-bar {
  padding: 0 0 0 16px;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  height: 24px;
  border-radius: 2px;
  background-color: var(--coral);
  color: var(--white);
}

.rating-widget__button-next {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--dark-80);
  padding: 0 6px;
  margin: 12px auto;
}

.rating-widget__button-next span {
  margin: 0 0 0 6px;
}