.project-settings__bar {
  margin-top: auto;
}

.project-settings__template-button {
  width: 100%;
  justify-content: start;
  padding-left: 48px;
}

@media screen and (max-width: 767px) {
  .project-settings__template-button {
    display: none;
  }
}

.project-settings__guide {
  padding: 16px;
  min-height: 184px;
  display: flex;
}

@media screen and (max-width: 767px) {
  .project-settings__guide {
    margin: 24px;
    min-height: auto;
    padding: 0;
  }
}

.project-settings__guide-link {
  margin: 0;
  text-decoration: none;
  color: var(--dark-60);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.project-settings__guide-icon {
  color: var(--dark-60);
  height: 16px;
  width: 16px;
  margin: 3px 8px 0 0;
}
