.header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 72px;
  background-color: var(--dark);
}
.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__buttons > * + * {
  margin-left: 16px;
}
.header__account {
  margin-left: 24px;
}
.header__logo:not(.header__logo--container) {
  position: absolute;
}

.header__logo--container {
  display: none;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 0;
  }
  .header__logo {
    display: none;
  }
  .header__logo--container {
    display: block;
  }
}
