.header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 72px;
  background-color: var(--dark);
}
.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__buttons * + * {
  margin-left: 16px;
}
.header__account {
  margin-left: 24px;
}
