.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__box {
  margin: 0;
  cursor: pointer;
  display: none;
}

.checkbox::before {
  content: '';
  display: block;
  border-radius: 2px;
  transition: background-color 0.1s, background-size 0.2s;
  cursor: pointer;
  pointer-events: none;
  background-image: url(@assets/icons/input/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0%;
  flex-shrink: 0;
}

.checkbox--checked::before {
  background-size: 100%;
  cursor: pointer;
}

.checkbox--l::before {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.checkbox--m::before {
  width: 16px;
  height: 16px;
}

.checkbox--s::before {
  width: 12px;
  height: 12px;
}

.checkbox--coral::before,
.checkbox--green::before {
  background-color: var(--dark-2);
}

.checkbox--coral.checkbox--checked::before {
  background-color: var(--coral);
}

.checkbox--green.checkbox--checked::before {
  background-color: var(--bluish-green);
}

.checkbox__label {
  margin: 0 0 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-60);
  cursor: pointer;
  user-select: none;
}

.checkbox--m .checkbox__label {
  margin: 0 0 0 12px;
}

.checkbox--m .checkbox__label{
  margin: 0 0 0 10px;
}