.filter-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filter-panel__header {
  padding: 0;
  box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
  display: flex;
}

.filter-panel__setting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding: 0 16px;
  flex-grow: 1;
}

.filter-panel__setting-button svg {
  margin: 0 8px 0 0;
}

.filter-panel__filter-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  font-size: 13px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--coral);
}

.filter-panel__scroll-container {
  overflow-y: auto;
  height: 100%;
}

.filter-panel__group {
  margin: 16px 0 16px;
}

.filter-panel__body {
  min-height: 48px;
  padding: 16px 16px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filter-panel__template-select-button {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--dark-80);
}

.filter-panel__template-select-arrow {
  color: var(--dark-40);
}

.filter-panel__template-select-arrow--opened {
  transform: rotate(180deg);
}

.filter-panel__template-search {
  margin: 16px 0 0;
}

.filter-panel__template-search svg {
  width: 16px;
}

.filter-panel__template-search input {
  font-size: 12px;
  font-weight: 500;
  color: var(--dark-60);
  padding-left: 36px;
}

.filter-panel__templates{
  margin: 16px 0 16px;
}

.filter-panel__template-button {
  width: calc(100% + 32px);
  justify-content: flex-start;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-60);
  margin: 0 -16px;
  border-radius: 0;
}

.filter-panel__buttons {
  margin: auto 0 0;
  padding: 0 0 16px;
}

.filter-panel__apply-button {
  width: 100%;
}

.filter-panel__reset-button {
  margin: 8px 0 0;
  width: 100%;
}

.filter-panel__create-template-button,
.filter-panel__setting-templates-button {
  width: calc(100% + 32px);
  padding: 0 16px;
  margin: 0 -16px;
  border-radius: 0;
  justify-content: flex-start;
}

.filter-panel__create-template-button .button__left-icon,
.filter-panel__setting-templates-button .button__left-icon {
  height: 16px;
  width: 16px;
  margin: 0 8px 0 0;
}
