.crossing-messages-widget {

}

.crossing-messages-widget__body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.crossing-messages-widget__venn {
  width: 100%;
  max-width: 640px;
}


.crossing-messages-widget__tooltip {
  box-shadow:
    0 8px 8px -4px rgba(20, 16, 41, 0.06),
    0 16px 24px 0 rgba(20, 16, 41, 0.12),
    0 2px 4px -1px rgba(20, 16, 41, 0.06),
    0 0 1px 0 rgba(20, 16, 41, 0.12);
  background-color: var(--white);
  padding: 16px;
  text-align: left;
}

.crossing-messages-widget__tooltip-title {
  margin: 0 0 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--midnight-purple-60);
}

.crossing-messages-widget__tooltip-title--has-items {
  margin: 0;
}

.crossing-messages-widget__tooltip-item {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--midnight-purple-60);
}

.crossing-messages-widget__label {
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
}

.crossing-messages-widget__legend {
  flex-grow: 1;
  margin: 32px 16px;
}

.crossing-messages-widget__legend-wrapper {
  margin: 0 auto;
  width: max-content;
}

.crossing-messages-widget__legend-marker {
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  border-radius: 2px;
  background-color: var(--midnight-purple-60);
}

.crossing-messages-widget__legend-item {
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: var(--midnight-purple-60);
}

.crossing-messages-widget__legend-item:last-of-type {
  margin: 0;
}
