.filter-panel-group {
  margin: 0;
  overflow: hidden;
  transition: 0.25s;
  flex-shrink: 0;
}

.filter-panel-group__header {
  height: 36px;
  display: flex;
  align-items: center;
  background-color: var(--coral-3);
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--coral);
}

.filter-panel-group__open-button {
  height: 20px !important;
  width: 20px;
  margin: 0 4px 0 0;
  background: transparent;
}

.filter-panel-group__delete-button {
  height: 20px !important;
  width: 20px;
  margin: 0 0 0 4px;
  background: transparent;
  color: var(--dark-40)
}

.filter-panel-group__group-name {
  margin: 0 auto 0 0;
}

.filter-panel-group__open-button svg {
  height: 20px;
  width: 20px;
}

.filter-panel-group__value {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 8px 0 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-60);
}

.filter-panel-group__value-label {
  margin: 0 auto 0 0;
}
