.faq-button__wrapper {
  position: relative;
}
.faq-button__content {

}
.faq-button__drop-down {
  width: 255px;
}
.faq-button__item-link {
  display: flex;
  align-items: center;
  height: 36px;
  background-color: var(--white);
  padding: 0 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-80);
  text-decoration: none;
  transition: background-color .2s;
}
.faq-button__item-link:hover {
  background-color: var(--midnight-purple-2);
}
