.account {
  position: relative;
  height: 100%;
}

.account__setting-main {
  margin: 134px 16px 30px 0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: calc(100% - 164px);
}

@media screen and (max-width: 719px) {
  .account__setting-main {
    margin: 0;
    padding: 24px 16px;
    box-shadow: none;
  }
}

.account__setting-main-title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--dark-80);
}

.account__setting-main-avatar {
  margin: 0 0 24px;
  display: flex;
  align-items: flex-end;
}

.account__setting-main-avatar-image {
  display: block;
  width: 106px;
  height: 106px;
  object-fit: cover;
  border-radius: 4px;
  margin: 0 16px 0 0;
}

.account__setting-main-avatar-button {
  display: block;
  background: none;
  border: none;
  outline: none;
  color: var(--dark-60);
  text-align: left;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.account__setting-main-avatar-button:last-of-type {
  margin: 8px 0 16px 0;
}

.account__setting-main-person-data {
  margin: 0 0 40px;
}

@media screen and (max-width: 719px) {
  .account__setting-main-person-data {
    margin: 0 0 24px;
  }
}

.account__setting-main-person-contacts {
  margin: 0 0 40px;
}

.account__setting-main-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

@media screen and (max-width: 991px) {
  .account__setting-main-inputs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.account__setting-submit-button {
  margin: auto 0 0 0;
  max-width: 198px;
}

@media screen and (max-width: 719px) {
  .account__setting-submit-button {
    max-width: none;
  }
}