.filter-list {

}

/* Модификаторы всего контейнера на Desktop | Mobile */

.filter-list--desktop {

}

.filter-list--mobile {

}

/* Элемент фильтра */

.filter-list__filter-item {
  display: flex;
  align-items: center;
}

.filter-list__filter-checkbox {
  margin: 0 12px 0 0;
}

.filter-list__filter-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--dark-60);
}

.filter-list__filter-name--actived {
  color: var(--dark-80);
}

.filter-list__filter-counter {
  margin: 0 0 0 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--dark-60);
}

.filter-list__filter-counter--actived {
  color: var(--dark-80);
}

/* Группы списка на Desktop */

.filter-list__desktop-group {
  margin: 48px 0 0;
}

.filter-list__desktop-group:first-of-type {
  margin: 0;
}

.filter-list__desktop-group-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--dark-80);
}

.filter-list__desktop-filters {
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px 24px;
}

.filter-list__accordion-header {
  display: grid;
  gap: 16px;
}

.filter-list__accordion-header-button {
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--dark-80);
  background: transparent;
  padding: 0;
  border-top: 1px solid var(--dark-12);
  min-height: 55px;
}

.filter-list__accordion-header-button--first {
  border: transparent;
}

.filter-list__accordion-header-button:active {
  color: var(--dark-80);
  background: transparent;
  box-shadow: none;
}

.filter-list__accordion-header-badge {
  background-color: var(--coral);
  color: var(--white);
  padding: 0 6px;
  min-width: 24px;
  height: 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 auto 0 12px;
}

.filter-list__accordion-header-arrow {
  color: var(--dark-60);
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.filter-list__accordion-header-arrow--is-open {
  transform: rotate(90deg);
}

.filter-list__accordion-body {
  display: grid;
  gap: 16px;
  padding: 16px 0;
}
