.tag-coverage-widget__body {
  display: grid;
  gap: 16px;
  grid-template-columns: auto minmax(auto, 440px);
}

@media screen and (max-width: 767px) {
  .tag-coverage-widget__body {
    grid-template-columns: 1fr;
  }
}

.tag-coverage-widget__scatter-chart {
  width: 100%;
  height: 235px;
  font-size: 14px;
  font-weight: 600;
  fill: var(--midnight-purple-60);
}

.tag-coverage-widget__label-text {
  font-weight: 500;
}

.tag-coverage-widget__table {
  display: grid;
  gap: 16px;
  grid-template-columns: auto minmax(auto, 92px);
  margin: 0 0 0 120px;
  align-self: start;
}

@media screen and (max-width: 767px) {
  .tag-coverage-widget__table {
    margin: 24px 0 0;
  }
}

.tag-coverage-widget__table-header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  color: var(--midnight-purple-60);
}

.tag-coverage-widget__table-cell {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  color: var(--midnight-purple-60);
}

.tag-coverage-widget__marker {
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  border-radius: 2px;
  background-color: var(--midnight-purple-60);
}
