.portal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
}

.portal--overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-12);
}

.portal--center {
  display: flex;
  align-items: center;
  justify-content: center;
}