.account-user-interface {
  margin: 134px 16px 30px 0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: calc(100% - 164px);
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .account-user-interface {
    margin: 0;
    padding: 24px 16px;
    box-shadow: none;
    overflow-y: initial;
    height: auto;
  }
}

.account-user-interface__title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--dark-80);
}

.account-user-interface__switch {
  max-width: 300px;
}

@media screen and (max-width: 575px) {
  .account-user-interface__switch {
    max-width: none;
  }
}

.account-user-interface__submit-button {
  margin: auto 0 0 0;
  max-width: 198px;
}

@media screen and (max-width: 575px) {
  .account-user-interface__submit-button {
    max-width: none;
  }
}

.account-user-interface__theme,
.account-user-interface__tile,
.account-user-interface__language,
.account-user-interface__hotkeys {
  margin: 0 0 40px;
}

@media screen and (max-width: 767px) {
  .account-user-interface__theme,
  .account-user-interface__tile,
  .account-user-interface__language {
    margin: 0 0 24px;
  }
}

.account-user-interface__hotkeys-link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--dark-60);
}

/* TODO у Selector добавить стили, как у Button, размеры и круглые или квадратные */
.account-user-interface__select {
  max-width: 300px;
}

@media screen and (max-width: 575px) {
  .account-user-interface__select {
    max-width: none;
  }
}


.account-user-interface__select .select__control {
  max-height: 36px;
  border-radius: 0;
  padding: 0 14px;
}