.footer {
  background-color: var(--dark);
  padding: 32px 0;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__row--collapsable {
  max-height: 0;
  overflow: hidden;
  transition: max-height .1s, padding-bottom .1s;
}
.footer--opened .footer__row--collapsable {
  max-height: 1000px;
  padding-bottom: 32px;
}

.footer__row--first {
  margin-bottom: 32px;
}
.footer--opened .footer__row--first {
  position: relative;
  justify-content: center;
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--pale-lilac-3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: opacity .2s;
  outline: none;
}
.footer--opened .footer__button--close {
  position: absolute;
  right: 0;
}
.footer__button svg path {
  transition: fill-opacity .2s;
}
.footer__button:hover svg path {
  fill-opacity: 1;
}
.footer__button + .footer__button {
  margin-left: 24px;
}
.footer__button--margin-left {
  margin-left: 24px;
}
.footer__column {
  display: flex;
  align-items: center;
}
.footer__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  line-height: 1.71;
  letter-spacing: 1px;
  text-decoration: none;
  transition: opacity .2s;
}
.footer__link:hover {
  opacity: .8;
}
.footer__link + .footer__link {
  margin-left: 17px;
}
.footer__link-icon {
  margin-right: 8px;
}
.footer__logo {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: var(--white);
}
.footer__copyright {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.71;
  letter-spacing: 1px;
  color: var(--white);
}
.footer__grey-text {
  margin-right: 4px;
  color: var(--pale-lilac-60);
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__nav-column-title {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--white);
  text-transform: uppercase;
}
.footer__nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--pale-lilac-80);
  text-decoration: none !important;
  transition: color .2s;
}
.footer__nav-link:hover {
  color: var(--white);
}
.footer__nav-item + .footer__nav-item {
  margin-top: 16px;
}

@media screen and (max-width: 992px) {
  .footer__row--first .footer__column--social,
  .footer__row--first .footer__column--contacts {
    display: none;
  }
  .footer__row--first {
    position: relative;
    justify-content: center;
  }
  .footer__button--close {
    position: absolute;
    right: 0;
  }
  .footer__row--mobile-visible {
    max-height: unset;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 720px) {
  .footer__row--first {
    justify-content: flex-start;
    margin-bottom: 24px;
  }
  .footer__button--close {
    width: 40px;
    height: 40px;
  }
  .footer__button--close svg {
    width: 20px;
    height: 20px;
  }
  .footer__row--mobile-visible {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__column--contacts {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
  }
  .footer__column--contacts .footer__link {
    margin-left: 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .footer__column--contacts .footer__link + .footer__link {
    margin-top: 16px;
  }
  .footer__row--last {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__row--last .footer__link {
    font-weight: 500;
  }
  .footer__row--last .footer__column + .footer__column {
    margin-top: 8px;
  }
  .footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__nav-column {
    margin-bottom: 32px;
  }
}
