.switch {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  width: min-content;
}

.switch--label {
  width: 100%;
}

.switch__box {
  margin: 0;
  cursor: pointer;
  display: none;
  width: 40px;
}

.switch::after {
  content: '';
  display: block;
  cursor: pointer;
  pointer-events: none;
  flex-shrink: 0;
  width: 40px;
  height: 24px;
  border-radius: 12px;
  transition: 0.2s;
  margin: 0 0 0 auto;
}

.switch::before {
  content: '';
  display: block;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--white);
  position: absolute;
  top: 2px;
  right: 18px;
  box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
  transition: 0.2s;
}

.switch--checked:before {
  right: 2px;
}

.switch--coral::after {
  background-color: var(--coral-3);
}

.switch--coral.switch--checked::after {
  background-color: var(--coral);
}

.switch__label {
  padding: 2px 16px 0 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--dark-60);
  cursor: pointer;
  user-select: none;
}