.messages-control-panel {

}

/* Главная панель */

.messages-control-panel__main-panel {
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 0 16px;
  border-radius: 12px;
  box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
  background-color: var(--white);
}

.messages-control-panel__select-all {
  margin: 0 12px 0 0;
}

.messages-control-panel__search {
  max-width: 220px;
  display: flex;
  align-items: center;
}

.messages-control-panel__search-input {
  flex-grow: 1;
  margin: 0 12px 0 0;
}

.messages-control-panel__search .input__field {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.messages-control-panel__search .input__search-icon {
  width: 20px;
}

@media screen and (max-width: 767px) {
  .messages-control-panel__search-button {
    margin: 0 0 0 12px;
  }
}

@media screen and (max-width: 767px) {
  .messages-control-panel__filter-button {
    margin: 0 0 0 12px;
  }
}



.messages-control-panel__sort-menu {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .messages-control-panel__sort-menu {
    margin: 0 0 0 16px;
  }
}

.messages-control-panel__pagination {
  display: flex;
  align-items: center;
}

.messages-control-panel__pagination-range {
  margin: 0 8px;
}

.messages-control-panel__pagination-total-count {
  margin: 0 0 0 16px;
}

.messages-control-panel__more-menu {
  margin: 0 0 0 32px;
}

@media screen and (max-width: 767px) {
  .messages-control-panel__more-menu {
    margin: 0 0 0 auto;
  }
}

/* Панель поиска */
.messages-control-panel__search {
  max-width: none;
}