.filter__bar {
  margin-top: auto;
}

.filter__template-button {
  width: 100%;
  justify-content: start;
  padding-left: 48px;
}

.filter__guide {
  padding: 16px;
  min-height: 184px;
  display: flex;
}

.filter__guide-link {
  margin: 0;
  text-decoration: none;
  color: var(--dark-60);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}

.filter__guide-icon {
  color: var(--dark-60);
  height: 16px;
  width: 16px;
  margin: 3px 8px 0 0;
}