.message-list {
  padding: 0 0 0 0;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 8px 8px -4px rgba(20, 16, 41, 0.06), 0 2px 4px -1px rgba(20, 16, 41, 0.06), 0 0 1px 0 rgba(20, 16, 41, 0.12);
  background-color: var(--white);
  overflow: hidden;
  flex-grow: 1;
}

.message-list__update-button {
  width: calc(100% - 16px * 2);
  margin: 16px;
}

.message-list__message {
  width: calc(100%);
  padding: 0 16px 16px;
}

.message-list__footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--dark-60);
  height: 96px;
  transform: translateY(-8px);
}
